<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bingo.dao.ProductDetailMapper">
    <sql id="table">seckill_product_detail</sql>
    <sql id="selectFields">id, product_id, seller_id, original_place, product_name, brand_name, product_weight, product_specification, product_detail_img
    </sql>
    <select id="findById" resultType="com.bingo.model.ProductDetail">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="table"/>
        WHERE id = #{id}
    </select>

</mapper>