<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bingo.dao.UserMapper">
    <sql id="table">seckill_user</sql>
    <sql id="selectFields">id, user_name, user_account, user_password, user_sex, user_age, user_address, user_email
    </sql>
    <select id="findById" resultType="com.bingo.model.User">
        SELECT
        <include refid="selectFields"/>
        FROM
        <include refid="table"/>
        WHERE id = #{id}
    </select>

</mapper>